.my-custom-class {
    --background: #e5e5e5;
  }
  textarea{
    margin-top: 15px;
    width: 100%;
  }
#EliminarMovimiento{
  margin-top: 100px;
}
#EditarDescuento{
  margin-top: 100px;
}
#EditarAhorroEspecial{
  margin-top: 100px;
}