<ion-header [translucent]="true">
  <ion-toolbar><ion-buttons slot="start"><ion-button tab="tab5" slot="end"  (click)="cambiar()">
    <ion-icon name="eye-outline"></ion-icon>
    
  </ion-button></ion-buttons>
    <ion-title>
      Movimientos
      <div id="InfMovimiento">Inf: ${{monto}} - {{concepto}} - {{fechaD}}</div>
    </ion-title>
  </ion-toolbar>
  <ion-item id="SaldoInf">
    <ion-label>Saldo: ${{saldo}}</ion-label>
  </ion-item>
</ion-header>

<ion-content>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-virtual-scroll [items]="data" approxItemHeight="1000px" >
  
    <ion-item *virtualItem="let item">
      <ion-card class="cardGasto">
        <ion-card-header>
          
          <ion-card-title>{{item.concepto}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-label>FECHA: {{item.fecha}}</ion-label>
          <ion-label>MONTO: ${{item.monto}}</ion-label>
        </ion-card-content>
      </ion-card>
      
     
    </ion-item>
  
  </ion-virtual-scroll>
  
</ion-content>
