.abajo{
    margin-top: 100px;
}
.Agregar{
    background-color: green;
}
.my-custom-class .alert-wrapper {
    background: #e5e5e5;
  }
  .my-custom-class {
    --background: #e5e5e5;
  }
  ion-toggle {
    height: 20px;
  }