<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movimientos
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab5"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  
  <table>
    <thead>
      <tr>
        <td>Fecha (d/m/a)</td>
        <td>Abono</td>
        <td>No disponible</td>
        <td>Gastos</td>
        <td>Saldo</td>
      </tr>
    </thead>
    <tbody *ngIf="movimientos!=null">
      <tr class="reglon"  *ngFor="let transaccion of movimientos">
        <td>{{transaccion.fecha}}</td>
        <td (click)="VerConcepto(transaccion)">${{transaccion.deposito}}</td>
        <td>${{transaccion.NoDisponible}}</td>
        <td>
          <app-movimientos *ngFor="let movimiento of transaccion.gastos" [info]="movimiento"></app-movimientos>
        </td>
        <td *ngIf="transaccion.saldo!=0">${{transaccion.saldo}}</td>
      </tr>
     
      <tr id="saldoFinal" class="reglon">
        <td></td>
        <td></td>
        <td>${{totalNoDisponible}}</td>
        <td></td>
        <td>${{saldoTotal}}</td>
      </tr>
    </tbody>
  </table>

  
</ion-content>