table{
    margin-top: 1px;
    width: 100%;
    border: 2px;
}
thead{
    background-color:#003F63 ;
    color: white;
}
tbody{

    .reglon{
       border: 2px solid black;}
    #saldoFinal{
        background-color: cadetblue;
    }
}
