.cardGasto{
    width: 100%;
    height: 100px;
}
#InfMovimiento{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cadetblue;
    font-size: 70%;
}
#SaldoInf{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:darkgreen;
    font-size: 100%;
}